## Visual Studio
.vs/
*.user
*.suo

## Build results
bin/
obj/

## ASP.NET Core
appsettings.Development.json

## Rider
.idea/

## OS
.DS_Store
Thumbs.db

## Logs
*.log

## Publish
publish/

wwwroot/uploads/

